
<div style="margin-top: 250px; margin-bottom: 250px" class="container">
<div class="row">
<button class="btn btn-primary" (click)="almaceno_usuario()">Almacena credenciales para acceder a la vista2</button>
</div>
  <div style= "margin-top: 19px" class="row">

  <button class="btn btn-primary" (click)="eliminar_credenciales()">Eliminar credenciales</button>
  </div>

    <div style= "margin-top: 19px"  class="row">

  <a [routerLink]="['/vista1', 1 ]">Test de enlace a un ruta</a>
    </div>


</div>
